<a href='/robots'>All Robots</a>
<h3><a href="/robots/<%= @robot.id %>"><%= @robot.name %></a></h3>
<p>Name: <%= @robot.name %></p>
<p>From: <%= @robot.city %>, <%= @robot.state %></p>
<p>Department: <%= @robot.department %></p>
